<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptut.fitrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Stat_TrainingActivity"></activity>
        <activity android:name=".End_TrainingActivity" />
        <activity android:name=".PausedTraining" />
        <activity android:name=".OngoingTraining" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".StartTraining" />

        <meta-data android:name="com.google.android.actions" />

        <activity android:name=".Connect" />
        <activity android:name=".GlobalStats" />
        <activity android:name=".History" />
        <activity android:name=".CreateTraining" />
        <activity android:name=".NewTraining" />
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>